/* Observação pessoal -> alguns tipos de ações serão necessárias aplicar na TAG PAI para que os elementos se comportem da forma esperada.
Assim, utilizar exclusivamente as ações nos elementos, podem causar certo desconforto em tentar solucionar um problema de posição, sendo que,
a TAG PAI pode ser ajustada para entregar o resultado final (foi o que entendi e deve ser por isso que alguns projetos paralelos estão dando HEADACHE hahahahaha*/

header {
    display: flex;
    justify-content: space-between;
    background-color: #0e8bf6;
    border-bottom: 8px solid rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;
}
.logo {
    width: 82px;
    height: 82px;
    margin-left: 30px;
    margin-top: 10px;
}
    
.action {
    display:inline-flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration:none;
    margin-right: 30px;
}

.action::before {
    content: "";
    background-color: #757575;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    background-color: #757575;
    color: white;
    height: 40px;
    font-size: 20px;
    line-height: 40px; /* define a ALTURA DE UMA LNHA */
    padding: 18px 20px;
    margin-right: 0;
    box-shadow: 5px 5px 0 rgb(54, 49, 49);
    transition: transform 150ms linear;
    font-family: 'Fira Code', monospace;
    text-decoration: none;

}

.button:hover {
    transform:scale(1.05);
    box-shadow: 5px 5px 0 rgb(54, 49, 49);   
}

.box {
    display: inline-block;
    background-color:#0e8bf6;
    box-shadow: 7px 7px 0 rgb(54, 49, 49);
    text-align: center;
    padding: 42px 44px;   
}

.box h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 0 #000000;
    font-size: 40px;
    margin-bottom: 28px;
}

.box h2 {
    color: #757575;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 0 black;
    font-size: 30px;
}

.banner {
    background-image: url(/portefolio-3/img/error.gif); /* trocar imagem */
    background-repeat: no-repeat;
    height: 800px;
    background-size: 100%;
    border-bottom: 10px solid rgb(255, 255, 255); /*  border pode ser aplicdo para todos os lados e para um lado específico */
    padding-top: 180px;
    padding-left: 160px;
   
}

.banner .wrapper {
    display: flex;
    flex-direction:column;
    width: 630px; 
}

.banner .box {
    margin-bottom: 38px;
}

.banner .navigation {
    display: flex;
    justify-content: space-around;  
}


.bannertwo {
    background-color: #0e8bf6;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.wrapperCat{
    display: flex;
    flex-wrap:wrap;
    padding-top: 30px;
    padding-bottom: 40px;
    max-width:auto;
}

.bannertwo .titleskills {
    text-align: center;
    line-height: 80px;
    color: white;
}

.catalogo {
    display: inline-flex;
    align-items: center;
    margin-left: 230px;
    margin-top: 40px;
    color: white;   
}

/* PROGRESS-BAR */
.progress-bar[value] {  
    -webkit-appearance: none; 
    appearance: none;     
}

.progress-bar {
    box-sizing: border-box;
    color: #fff;
    border: 4px solid #000;
    height: 40px;
    width: 350px;
}

progress::-webkit-progress-bar {
    background-color: rgb(255, 255, 255); width: 100%;
}
progress {
    background-color: rgb(255, 255, 255);
}

progress-bar::-webkit-progress-bar,
.progress-bar::-webkit-progress-value {
    background-color: #00d841;
}

.progress-bar::-moz-progress-bar {
    background-color: #00d841;
    width: 70%;
}
/* PROGRESS-BAR - FIM*/

.logolinguagem, .linguagem{
    font-size: 25px;
}

.right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    line-height: 40px;
}

.icon{
    padding-right: 30px;
    width: 90px;
    height: 80px; 
}


.titleprojeto{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: white;
    padding-top: 45px;
    font-size: 40px;
}

.projeto {
    background-color: #000000;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 10px solid rgb(255, 255, 255);
}

.secondCatalogo{
    display: flex;
    justify-content: center;
   
}

.titlesobre{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(0, 0, 0);
    padding-top: 45px;
    font-size: 40px;
}

.titlesobre{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    padding-top: 45px;
    font-size: 40px;
    background-color: #0e8bf6;
}

.textSobre{
    color: rgb(255, 255, 255);
    font-family: 'Fira Code', monospace;
    line-height: 40px;
    font-weight: 300;
    font-size: 25px;
    margin: 80px;
    width: auto;
    height: 312px;
  
}

.about {
    background-color: #0e8bf6;
    border-bottom: 10px solid black;
}


.allFigures {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.figureTitle {
    font-family: 'Press Start 2P', cursive;
    margin-top: 80px;
    font-size: 25px; 
}

.figureText{
    font-family: 'Press Start 2P', cursive;
    margin-top: 25px;  
    font-size: 20px; 
}

.figureLogo{
    align-items: center;   
}

.gatinho {
    border-radius: 10px;
    border: black 3px solid;
    margin-top: 40px;
    width: 300px;
    height:300px;
}

.contato {
    background-color: #757575;
}

.titleContato {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: white;
    font-family: 'Press Start 2P', cursive;
    padding-top: 45px;
}

.form {
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 50px;
}

.label {
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    font-weight: 300;
    line-height: 40px;
}

.input {
    box-sizing: border-box;
    border: 5px solid black;
    font-size: 20px;
    height: 50px;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
}

.inputArea {
    box-sizing: border-box;
    border: 5px solid black;
    font-family: 'Fira Code', monospace;
    font-size: 20px;
    width: 100%;
    height: 320px;
}

.submitButton {
    display: flex;
    justify-content: center;
    line-height: 50px;
    background-color: #0e8bf6;
    color: white;
    margin-top:25px;
    padding:10px;
    width: 100%;
    height: 60px;
    font-size: 20px;
    box-shadow: 3px 3px 0 rgb(5, 5, 5);
    transition: transform 150ms linear;
    font-family: 'Fira Code', monospace;
}
    
.submitButton:hover {
    background-color: #000;
    box-shadow: 3px 3px 0 rgb(255, 255, 255);   
}

footer {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100px;
    padding-top: 28px;
    padding-bottom: 28px;
}

footer a {
    margin-right: 20px;
    margin-left: 20px;
}

footer img{
    margin-top: 25px;
    width: 50px;
    height: 50px;
}
