/* Observação pessoal -> alguns tipos de ações serão necessárias aplicar na TAG PAI para que os elementos se comportem da forma esperada.
Assim, utilizar exclusivamente as ações nos elementos, podem causar certo desconforto em tentar solucionar um problema de posição, sendo que,
a TAG PAI pode ser ajustada para entregar o resultado final (foi o que entendi e deve ser por isso que alguns projetos paralelos estão dando HEADACHE hahahahaha*/

header {
    display: flex;
    justify-content: space-between;
    background-color: #0e8bf6;
    border-bottom: 8px solid rgb(0, 0, 0);
    padding: 10px 20px 10px 20px;

}
.logo {
    width: 80px;
    height: 80px;
    margin-left: 30px;
    margin-top: 10px;
}
    
.action {
    display:inline-flex;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    text-decoration:none;
    margin-right: 30px;
}

.action::before {
    content: "";
    background-color: #757575;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

.button {
    display: inline-block;
    background-color: #757575;
    color: white;
    height: 40px;
    font-size: 20px;
    line-height: 40px; /* define a ALTURA DE UMA LNHA */
    padding: 18px 20px;
    margin-right: 0;
    box-shadow: 5px 5px 0 black;
    transition: transform 150ms linear;
    font-family: 'Fira Code', monospace;
    text-decoration: none;

}

.button:hover {
    transform:scale(1.05);
    box-shadow: 5px 5px 0 #000000;   
}

.box {
    display: inline-block;
    background-color:#0e8bf6;
    box-shadow: 7px 7px 0 black;
    text-align: center;
    padding: 42px 44px;   
}

.box h1 {
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 0 #000000;
    font-size: 40px;
    margin-bottom: 28px;
}

.box h2 {
    color: #757575;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 4px 4px 0 black;
    font-size: 30px;
}

.banner {
    background-image: url(/portefolio-3/img/helloworld.jpg); /* trocar imagem */
    background-repeat: no-repeat;
    height: 800px;
    background-size: 100%;
    border-bottom: 10px solid black; /*  border pode ser aplicdo para todos os lados e para um lado específico */
    padding-top: 120px;
    padding-left: 160px;
   
}

.banner .wrapper {
    display: flex;
    flex-direction:column;
    width: 630px;
   
}

.banner .box {
    margin-bottom: 38px;
 
}

.banner .navigation {
    display: flex;
    justify-content: space-around;
    
}

.bannertwo {
    background-color: #0e8bf6;
    font-family: 'Press Start 2P', cursive;
    border-bottom: 10px solid black;
    padding-top: 50px;
    padding-bottom: 100px;
   
}

.bannertwo .titleskills {
    text-align: center;
    line-height: 80px;
    color: white;
}

.catalogo {
    display: flex;
    margin-left: 239px;
    margin-top: 110px;
    color: white;  
}

.catalogo .icon {
    margin-right: 25px;
}

/* PROGRESS-BAR */
.progress-bar[value] {  
    -webkit-appearance: none; 
    appearance: none;     
}

.progress-bar {
    box-sizing: border-box;
    color: #fff;
    border: 4px solid #000;
    height: 40px;
    width: 350px;
}

progress::-webkit-progress-bar {
    background-color: rgb(255, 255, 255); width: 100%;
}
progress {
    background-color: rgb(255, 255, 255);
}

progress-bar::-webkit-progress-bar,
.progress-bar::-webkit-progress-value {
    background-color: #00ff62;
}

.progress-bar::-moz-progress-bar {
    background-color: #00ff62;
    width: 70%;
}
/* PROGRESS-BAR - FIM*/

.logolinguagem{
    font-size: 25px;
}

